#purple{
    background-color: purple;
}
#green{
    background-color:green;
}
#pink{
    background-color:pink;
}
.metro{
    text-align: center;
}
#purple metro{
    text-align: center;
}